@import url('https://fonts.googleapis.com/css?family=Montserrat:500');

body {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: #2a2438;
}

.main__nav {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    display: flex;
    justify-content: center;
    padding: 30px 0;
}

.nav__list {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 100%;
}

.nav__link {
    font-size: 16px;
    text-decoration: none;
    color: inherit;
    transition: color 0.3s ease;
}

.nav__link:hover {
    color: #0092ca;
}
